<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script>
    const base_url = "/edda/api/v1";
    let method = "";
    let size = 10;
    const cookie_username_key = "edda_username";
    const cookie_password_key = "edda_password";
    const cookie_key = "edda_cookie";

    ////////// 产品/////////

    function ClickEditProduct() {
        $("#auths-tabs li").removeClass("active");
        $('#auth-edit').addClass("active");
        $('#auth-list-table').hide();
        $('#auth-list-create').hide();
        $('#auth-list-edit').show();
    }

    function SubmitProduct() {
        $.ajax({
            url: base_url + "/products/" + $('#edit-auth-id').val(),
            type: 'POST',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            processData: false,
            headers: {'Content-Type': 'application/json'},
            // ajax 传body的方法
            data: JSON.stringify({
                "name": $('#edit-auth-name').val(),
                "number": $('#edit-auth-number').val(),
                "version": $('#edit-auth-version').val(),
                "principal": $('#edit-auth-principals').find("option:selected").val(),
                "projects": PushArray($('#edit-auth-projects').find("option:selected")),
                "customer": $('#edit-auth-customer').find("option:selected").val(),
                "files": PushArray($('#edit-auth-files').find("option:selected")),
                "introduction": $("#edit-auth-introduction").val()
            }),
            success: function (resp) {
                if (resp.code == 200) {
                    $("#auth-edit").removeClass("active");
                    $('#auth-table').addClass("active");
                    $('#auth-list-edit').hide();
                    $('#auth-list-create').hide();
                    $('#auth-list-table').show();
                    GetAuthList(1)
                }
            },
            error: function (resp) {
                $('#request-modal').modal("show");
                $("#result-body").html("修改失败").addClass("alert-danger")
            }
        })
    }

    // 编辑产品
    function EditProduct(obj) {
        $("#auths-tabs li").removeClass("active");
        $('#auth-edit').addClass("active");
        $('#auth-list-table').hide();
        $('#auth-list-create').hide();
        $('#auth-list-edit').show();
        let id = obj.parent().siblings("input").val();
        $.ajax({
            url: base_url + "/products/" + id,
            type: 'GET',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                let pd = resp.data[0];
                $('#edit-auth-id').val(pd.id);
                $('#edit-auth-name').val(pd.name);
                $('#edit-auth-number').val(pd.number);
                $('#edit-auth-version').val(pd.version);
                $('#edit-auth-introduction').val(pd.introduction);
                GetSelectedList("/principals/", $("#edit-auth-principals"), pd.principal);
                GetSelectedList("/projects/", $("#edit-auth-projects"), pd.projects);
                GetSelectedList("/copyrights/", $("#edit-auth-customer"), pd.customer);
                GetSelectedList("/files/", $("#edit-auth-files"), pd.files);
                ProductDownloadBtn(pd.files)
            }
        })
    }

    function ProductDownloadBtn(data) {
        let obj = $('#products-download');
        obj.empty();
        for (let i = 0; i < data.length; ++i) {
            let file = data[i];
            let btn = $('<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title=""></button>');
            let link = `<a class="opt-btn btn text-primary" href=` + "/download/" + file.id + "?file=" + file.name + ` download=` + file.name + `>下载</a>`;
            let down = $(link);
            btn.attr("title", file.id);
            down.html(file.name);
            btn.append(down);
            obj.append(btn)
        }
    }

    function GetSelectedList(url, obj, data) {
        $.ajax({
            url: base_url + url,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                obj.empty();
                for (let i = 0; i < resp.data.length; ++i) {
                    let pro = resp.data[i];
                    let opt = $('<option></option>').html(pro.name);
                    opt.val(pro.id);
                    for (let j = 0; j < data.length; ++j) {
                        let ins = data[j];
                        if (pro.id === ins.id) {
                            opt.attr("selected", true)
                        }
                    }
                    obj.append(opt)
                }
            }
        })
    }

    // 删除产品
    function DelProduct(obj) {
        let id = obj.parent().siblings("input").val();
        $.ajax({
            url: base_url + "/products/" + id,
            type: 'DELETE',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                GetAuthList(1)
            }
        })
    }

    function CountProduct(current) {
        $.ajax({
            url: base_url + "/count/" + "products",
            type: 'GET',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                let page = Math.ceil(resp.count / size);
                let ul = $('#products-page');
                ul.empty();
                let pre = $(`<li><a href="javascript:void(0)" onclick="GetAuthList(` + (current - 1) + `)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`);
                if (current == 1) {
                    pre.addClass("disabled")
                }
                ul.append(pre);
                for (let i = 1; i <= page; ++i) {
                    let li = $('<li><a href="javascript:void(0)" onclick="GetAuthList(' + i + ')">' + i + '</a></li>');
                    if (current == i) {
                        li.addClass("active")
                    }
                    ul.append(li)
                }
                let next = $('<li><a href="javascript:void(0)" onclick="GetAuthList(' + (current + 1) + ')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
                if (current >= page) {
                    next.addClass("disabled")
                }
                ul.append(next)
            }
        })
    }

    // 产品列表
    function GetAuthList(page) {
        $('#auth-list-edit').hide();
        $('#auth-list-create').hide();
        $('#auth-list-table').show();
        CountProduct(page);
        $.ajax({
            url: base_url + "/products/" + "?page=" + page + "&size=" + size,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                $("#auth-list-body").empty();
                for (let i = 0; i < resp.data.length; ++i) {
                    let pro = resp.data[i];
                    let tr = $('<tr></tr>');
                    tr.append($('<td></td>').html(pro.name));
                    tr.append($('<td></td>').html(pro.number));
                    let p = $(`<p style="width:100px;overflow:hidden"></p>`);
                    p.html(pro.introduction);
                    tr.append($('<td></td>').append(p));
                    tr.append($('<td></td>').html(pro.name));
                    tr.append($('<td></td>').html(projects(pro.projects)));
                    tr.append($('<td></td>').html(formatTime(pro.date)));
                    tr.append($('<td></td>').html(pro.version));
                    tr.append($('<td><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="DelProduct($(this))">删除</a><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="EditProduct($(this))">编辑/下载</a></td>'));
                    tr.append($("<input type='hidden'>").val(pro.id));
                    $("#auth-list-body").append(tr)
                }
            }
        });
    }

    function projects(data) {
        let warp = $('<div></div>');
        for (let i = 0; i < data.length; ++i) {
            let div = $('<div></div>');
            let pro = data[i];
            let a = $('<a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="ShowProject($(this))"></a>')
            a.html(pro.name);
            div.append(a);
            div.append($("<input type='hidden'>").val(pro.id));
            warp.append(div)
        }
        return warp
    }

    function ShowProject(obj) {
        let id = obj.siblings("input").val();
        $.ajax({
            url: base_url + "/projects/" + id,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                $('#app-modal').modal("show");
                $('#app-modal .modal-title').html("查看项目");
                $('#app-modal input').attr("readonly", "true");
                $('#save-app').hide();
                $('#edit-app-name').val(resp.data[0].name);
                $('#edit-app-number').val(resp.data[0].number);
                $('#edit-app-owner').val(resp.data[0].owner);
                $('#edit-app-contact').val(resp.data[0].contact);
                $('#edit-app-id').val(id);
            }
        })
    }

    function formatTime(obj) {
        let data = new Date(obj);
        let year = data.getFullYear();  //获取年
        let month = data.getMonth() + 1;    //获取月
        let day = data.getDate(); //获取日
        let hours = data.getHours();
        let minutes = data.getMinutes();
        let seconds = data.getSeconds();
        return year + "年" + month + "月" + day + "日" + " " + hours + ":" + minutes + ":" + seconds;
    }

    function SelectOptions() {
        $('#auth-list-edit').hide();
        $('#auth-list-table').hide();
        $('#auth-list-create').show();
        GetSelectList("/principals/", $("#create-auth-principals"));
        GetSelectList("/projects/", $("#create-auth-projects"));
        GetSelectList("/copyrights/", $("#create-auth-customer"));
        GetSelectList("/files/", $("#create-auth-files"));
    }

    function GetSelectList(url, obj) {
        $.ajax({
            url: base_url + url,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                obj.empty();
                for (let i = 0; i < resp.data.length; ++i) {
                    let pro = resp.data[i];
                    let opt = $('<option></option>').html(pro.name);
                    opt.val(pro.id);
                    obj.append(opt)
                }
            }
        })
    }

    function ClickCreateProduct() {
        $.ajax({
            url: base_url + "/products/",
            type: 'PUT',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            processData: false,
            headers: {'Content-Type': 'application/json'},
            // ajax 传body的方法
            data: JSON.stringify({
                "name": $('#create-auth-name').val(),
                "number": $('#create-auth-number').val(),
                "version": $('#create-auth-version').val(),
                "principal": $('#create-auth-principals').find("option:selected").val(),
                "projects": PushArray($('#create-auth-projects').find("option:selected")),
                "customer": $('#create-auth-customer').find("option:selected").val(),
                "files": PushArray($('#create-auth-files').find("option:selected")),
                "introduction": $("#create-auth-introduction").val()
            }),
            success: function (resp) {
                if (resp.code == 200) {
                    $("#auth-create").removeClass("active");
                    $('#auth-table').addClass("active");
                    $('#auth-list-edit').hide();
                    $('#auth-list-create').hide();
                    $('#auth-list-table').show();
                    GetAuthList(1)
                }
            }
        })
    }


    ////////// 项目/////////

    // 编辑项目
    function EditProject() {
        $.ajax({
            url: base_url + "/projects/" + $('#edit-app-id').val(),
            type: method,
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            processData: false,
            headers: {'Content-Type': 'application/json'},
            // ajax 传body的方法
            data: JSON.stringify({
                "name": $('#edit-app-name').val(),
                "number": $('#edit-app-number').val(),
                "owner": $('#edit-app-owner').val(),
                "contact": $('#edit-app-contact').val(),
            }),
            success: function (resp) {
                $('#app-modal').modal("hide");
                GetAppList(1)
            }
        })
    }


    function CountApp(current) {
        $.ajax({
            url: base_url + "/count/" + "apps",
            type: 'GET',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                let page = Math.ceil(resp.count / size);
                let ul = $('#projects-page');
                ul.empty();
                let pre = $(`<li><a href="javascript:void(0)" onclick="GetAppList(` + (current - 1) + `)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`);
                if (current == 1) {
                    pre.addClass("disabled");
                    pre.removeAttr("onclick")
                    pre.off()
                }
                ul.append(pre);
                for (let i = 1; i <= page; ++i) {
                    let li = $('<li><a href="javascript:void(0)" onclick="GetAppList(' + i + ')">' + i + '</a></li>');
                    if (current == i) {
                        li.addClass("active")
                    }
                    ul.append(li)
                }
                let next = $('<li><a href="javascript:void(0)" onclick="GetAppList(' + (current + 1) + ')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
                if (current >= page) {
                    next.addClass("disabled");
                    next.removeAttr("onclick");
                    next.off()
                }
                ul.append(next)
            }
        })
    }

    // 应用列表
    function GetAppList(page) {
        CountApp(page);
        $.ajax({
            url: base_url + "/app/" + "?page=" + page + "&size=" + size,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                $("#app-list").empty();
                for (let i = 0; i < resp.data.length; ++i) {
                    let pro = resp.data[i];
                    let tr = $('<tr></tr>');
                    tr.append($('<td></td>').html(pro.name));
                    tr.append($('<td></td>').html(pro.number));
                    tr.append($('<td></td>').html(pro.owner));
                    tr.append($('<td></td>').html(pro.contact));
                    tr.append($('<td><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="ClickProject($(this))">编辑</a><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="DelProject($(this))">删除</a></td>'));
                    tr.append($("<input type='hidden'>").val(pro.id));
                    $("#app-list").append(tr)
                }
            }
        })
    }

    // 新建项目
    function CreateProject() {
        $('#app-modal').modal("show");
        $('#edit-app-name').val("");
        $('#edit-app-number').val("");
        $('#edit-app-owner').val("");
        $('#edit-app-contact').val("");
        $('#edit-app-id').val("");
        method = "PUT"
    }

    ////////// 软著/////////

    // 编辑软著
    function EditCopyright() {
        $.ajax({
            url: base_url + "/copyrights/" + $('#edit-customer-id').val(),
            type: method,
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            processData: false,
            headers: {'Content-Type': 'application/json'},
            // ajax 传body的方法
            data: JSON.stringify({
                "name": $('#edit-customer-name').val(),
                "number": $('#edit-customer-number').val(),
                "certificate": $('#edit-customer-certificate').val(),
                "register": $('#edit-customer-register').val(),
            }),
            success: function (resp) {
                $('#customer-modal').modal("hide");
                GetCustomerList(1)
            }
        })
    }

    // 删除软著
    function DelCopyright(obj) {
        let id = obj.parent().siblings("input").val();
        $.ajax({
            url: base_url + "/copyrights/" + id,
            type: 'DELETE',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                GetCustomerList(1)
            }
        })
    }

    // 点击编辑 （软著）
    function ClickCopyright(obj) {
        let id = obj.parent().siblings("input").val();
        let td = obj.parent().parent().children("td");
        $('#customer-modal').modal("show");
        $('#edit-customer-name').val(td.eq(0).html());
        $('#edit-customer-number').val(td.eq(1).html());
        $('#edit-customer-certificate').val(td.eq(2).html());
        $('#edit-customer-register').val(td.eq(3).html());
        $('#edit-customer-id').val(id);
        method = 'POST'
    }

    function CountCopyRight(current) {
        $.ajax({
            url: base_url + "/count/" + "copyrights",
            type: 'GET',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                let page = Math.ceil(resp.count / size);
                let ul = $('#copyrights-page');
                ul.empty();
                let pre = $(`<li><a href="javascript:void(0)" onclick="GetCustomerList(` + (current - 1) + `)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`);
                if (current == 1) {
                    pre.addClass("disabled")
                }
                ul.append(pre);
                for (let i = 1; i <= page; ++i) {
                    let li = $('<li><a href="javascript:void(0)" onclick="GetCustomerList(' + i + ')">' + i + '</a></li>');
                    if (current == i) {
                        li.addClass("active")
                    }
                    ul.append(li)
                }
                let next = $('<li><a href="javascript:void(0)" onclick="GetCustomerList(' + (current + 1) + ')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
                if (current >= page) {
                    next.addClass("disabled")
                }
                ul.append(next)
            }
        })
    }

    // 软著列表
    function GetCustomerList(page) {
        CountCopyRight(page);
        $.ajax({
            url: base_url + "/copyrights/" + "?page=" + page + "&size=" + size,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                $("#customer-list").empty();
                for (let i = 0; i < resp.data.length; ++i) {
                    let cr = resp.data[i];
                    let tr = $('<tr></tr>');
                    tr.append($('<td></td>').html(cr.name));
                    tr.append($('<td></td>').html(cr.number));
                    tr.append($('<td></td>').html(cr.certificate));
                    tr.append($('<td></td>').html(cr.register));
                    tr.append($('<td><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="ClickCopyright($(this))">编辑</a><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="DelCopyright($(this))">删除</a></td>'));
                    tr.append($("<input type='hidden'>").val(cr.id));
                    $("#customer-list").append(tr)
                }
            }
        })
    }

    // 新建软著
    function CreateCopyright() {
        $('#customer-modal').modal("show");
        $('#edit-customer-name').val("");
        $('#edit-customer-number').val("");
        $('#edit-customer-certificate').val("");
        $('#edit-customer-register').val("");
        $('#edit-customer-id').val("");
        method = "PUT"
    }

    ////////// 负责人/////////

    // 编辑负责人
    function EditUser() {
        $.ajax({
            url: base_url + "/principals/" + $('#edit-user-id').val(),
            type: method,
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            processData: false,
            headers: {'Content-Type': 'application/json'},
            // ajax 传body的方法
            data: JSON.stringify({
                "name": $('#edit-user-name').val(),
                "email": $('#edit-user-email').val(),
            }),
            success: function (resp) {
                $('#user-modal').modal("hide");
                GetPrincipalList(1)
            }
        })
    }

    // 删除负责人
    function DelUser(obj) {
        let id = obj.parent().siblings("input").val();
        $.ajax({
            url: base_url + "/principals/" + id,
            type: 'DELETE',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                GetPrincipalList(1)
            }
        })
    }

    // 点击编辑 （负责人）
    function ClickUser(obj) {
        let id = obj.parent().siblings("input").val();
        let td = obj.parent().parent().children("td");
        $('#user-modal').modal("show");
        $('#edit-user-name').val(td.eq(0).html());
        $('#edit-user-email').val(td.eq(1).html());
        $('#edit-user-id').val(id);
        method = 'POST'
    }

    function Countprincipals(current) {
        $.ajax({
            url: base_url + "/count/" + "principals",
            type: 'GET',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                let page = Math.ceil(resp.count / size);
                let ul = $('#principals-page');
                ul.empty();
                let pre = $(`<li><a href="javascript:void(0)" onclick="GetPrincipalList(` + (current - 1) + `)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`);
                if (current == 1) {
                    pre.addClass("disabled")
                }
                ul.append(pre);
                for (let i = 1; i <= page; ++i) {
                    let li = $('<li><a href="javascript:void(0)" onclick="GetPrincipalList(' + i + ')">' + i + '</a></li>');
                    if (current == i) {
                        li.addClass("active")
                    }
                    ul.append(li)
                }
                let next = $('<li><a href="javascript:void(0)" onclick="GetPrincipalList(' + (current + 1) + ')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
                if (current >= page) {
                    next.addClass("disabled")
                }
                ul.append(next)
            }
        })
    }

    // 负责人列表
    function GetPrincipalList(page) {
        Countprincipals(page);
        $.ajax({
            url: base_url + "/principals/" + "?page=" + page + "&size=" + size,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                $("#user-list").empty();
                for (let i = 0; i < resp.data.length; ++i) {
                    let user = resp.data[i];
                    let tr = $('<tr></tr>');
                    tr.append($('<td></td>').html(user.name));
                    tr.append($('<td></td>').html(user.email));
                    tr.append($('<td><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="ClickUser($(this))">编辑</a><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="DelUser($(this))">删除</a></td>'));
                    tr.append($("<input type='hidden'>").val(user.id));
                    $("#user-list").append(tr)
                }
            }
        })
    }

    // 新建负责人
    function CreateUser() {
        $('#user-modal').modal("show");
        $('#edit-user-name').val("");
        $('#edit-user-email').val("");
        $('#edit-app-id').val("");
        method = "PUT"
    }

    ////////// 文件/////////

    // 删除文件
    function DelFile(obj) {
        let id = obj.parent().siblings("input").val();
        $.ajax({
            url: base_url + "/files/" + id,
            type: 'DELETE',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                GetFileList()
            }
        })
    }

    function CountFiles(current) {
        $.ajax({
            url: base_url + "/count/" + "files",
            type: 'GET',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                let page = Math.ceil(resp.count / size);
                let ul = $('#files-page');
                ul.empty();

                if (current == 1) {
                    let pre = $(`<li><a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`);
                    pre.addClass("disabled")
                    ul.append(pre);
                } else {
                    let pre = $(`<li><a href="javascript:void(0)" onclick="GetFileList(` + (current - 1) + `)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`);
                    ul.append(pre);
                }

                for (let i = 1; i <= page; ++i) {
                    let li = $('<li><a href="javascript:void(0)" onclick="GetFileList(' + i + ')">' + i + '</a></li>');
                    if (current == i) {
                        li.addClass("active")
                    }
                    ul.append(li)
                }

                if (current >= page) {
                    let next = $('<li><a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
                    next.addClass("disabled");
                    ul.append(next)
                } else {
                    let next = $('<li><a href="javascript:void(0)" onclick="GetFileList(' + (current + 1) + ')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
                    ul.append(next)
                }

            }
        })
    }

    // 文件列表
    function GetFileList(page) {
        CountFiles(page);
        $.ajax({
            url: base_url + "/files/" + "?page=" + page + "&size=" + size,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                $("#file-list").empty();
                for (let i = 0; i < resp.data.length; ++i) {
                    let file = resp.data[i];
                    let tr = $('<tr></tr>');
                    tr.append($('<td></td>').html(file.name));
                    tr.append($('<td></td>').html(file.length));
                    tr.append($('<td></td>').html(formatTime(file.upload_date)));
                    let td = `<td><a class="opt-btn btn text-primary" href=` + "/download/" + file.id + "?file=" + file.name + ` download=` + file.name + `>下载</a><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="DelFile($(this))">删除</a></td>`;
                    // let td=`<td><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="DownloadFile($(this))" >下载</a><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="DelFile($(this))">删除</a></td>`;
                    tr.append($(td));
                    tr.append($("<input type='hidden'>").val(file.id));
                    $("#file-list").append(tr)
                }
            }
        })
    }

    // 上传文件
    function UploadFile() {
        $("#progressBar").css("width", "0%").text("0%").innerHTML = "0%";
        var fileObj = document.getElementById("upload-file").files[0]; // js 获取文件对象
        var url = base_url + "/files/";                    // 接收上传文件的后台地址
        // FormData 对象
        var form = new FormData();
        // 可以增加表单数据
        form.append("file", fileObj);                           // 文件对象
        // XMLHttpRequest 对象
        var xhr = new XMLHttpRequest();
        xhr.username = $.cookie(cookie_username_key);
        xhr.password = $.cookie(cookie_password_key);
        xhr.open("PUT", url, true);
        xhr.onload = function () {
            GetFileList(1);
            $("#progressBar").css("width", "0%").text("0%").innerHTML = "0%";
        };
        xhr.upload.addEventListener("progress", progressFunction, false);
        xhr.send(form);
    }

    // 上传文件进度条
    function progressFunction(evt) {
        if (evt.lengthComputable) {
            var l = Math.round(evt.loaded / evt.total * 100) + "%";
            $("#progressBar").css("width", l).text(l).innerHTML = l;
        }
    }

    // 帮助
    function Help() {
        $.ajax({
            url: base_url + "/server/help",
            type: "GET",
            username: $("#username").val(),
            password: $("#password").val(),
            dataType: "json",
            success: function (data) {
                $("#help-msg").empty();
                for (i = 0; i < data.msg.length; i++) {
                    let p = $("<p></p>").text(data.msg[i]);
                    $("#help-msg").append(p)
                }
                $("#help-modal").modal("show")
            }
        });
    }

    // 登录
    function Login() {
        $.ajax({
            url: base_url + "/auth/login",
            type: "POST",
            username: $("#username").val(),
            password: $("#password").val(),
            dataType: "json",
            success: function (data) {
                $.cookie(cookie_key, data.cookie);
                $.cookie(cookie_username_key, $("#username").val());
                $.cookie(cookie_password_key, $("#password").val());
                // $.cookie("product_db_cookie",value,{ expires: 1, path: "/" })
                $("#login-modal").modal("hide"); //关闭模态框
                window.location.reload();
                // GetLicense()
            },
            error: function (XHR) {
                $("#login-modal").modal("show");
                if (XHR.status == 401) {
                    $("#login-modal").modal("show")
                }
            }
        })
    }

    // 注销
    function Logout() {
        $.cookie(cookie_username_key, null);
        $.cookie(cookie_password_key, null);
        $.cookie(cookie_key, null);
        $("#login-modal").modal("show")
        window.location.reload();
        // $("#login-modal").modal("show")
        $("#username").val("")
        $("#password").val("")
    }

    function ClickLogin() {
        $("#login-modal").modal("show")
    }

    $(document).ready(function () {
        if ($.cookie(cookie_key) == null) {
            $("#login-modal").modal("show")
        } else {
            $("#leftTabs a").eq(0).css({"background-color": "#10ffd0"});
            GetAuthList(1)
        }
        // 登录
        $("#login").on("click", Login);
        // 切换标签
        $("#leftTabs a").click(function (e) {
            e.preventDefault();
            $("#leftTabs a").css({"background-color": ""});
            $(this).css({"background-color": "#10ffd0"});
            $(this).tab("show")
        });
    })


    ////////////////////////    客户 //////////////////////

    // 客户个数
    function CountCustomer(current) {
        $.ajax({
            url: base_url + "/count/" + "customers",
            type: 'GET',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                let page = Math.ceil(resp.count / size);
                let ul = $('#customers-page');
                ul.empty();
                let pre = $(`<li><a href="javascript:void(0)" onclick="GetCustomerList(` + (current - 1) + `)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`);
                if (current == 1) {
                    pre.addClass("disabled");
                    pre.removeAttr("onclick");
                    pre.off()
                }
                ul.append(pre);
                for (let i = 1; i <= page; ++i) {
                    let li = $('<li><a href="javascript:void(0)" onclick="GetCustomerList(' + i + ')">' + i + '</a></li>');
                    if (current == i) {
                        li.addClass("active")
                    }
                    ul.append(li)
                }
                let next = $('<li><a href="javascript:void(0)" onclick="GetCustomerList(' + (current + 1) + ')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
                if (current >= page) {
                    next.addClass("disabled");
                    next.removeAttr("onclick");
                    next.off()
                }
                ul.append(next)
            }
        })
    }

    // 客户列表
    function GetCustomerList(page) {
        CountCustomer(page);
        $.ajax({
            url: base_url + "/customer/" + "?page=" + page + "&size=" + size,
            type: "GET",
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                $("#customer-list").empty();
                for (let i = 0; i < resp.data.length; ++i) {
                    let pro = resp.data[i];
                    let tr = $('<tr></tr>');
                    tr.append($('<td></td>').html(pro.name));
                    tr.append($('<td></td>').html(pro.info));
                    tr.append($('<td></td>').html(pro.project));
                    tr.append($('<td><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="EditCustomer($(this))">编辑</a><a class="opt-btn btn text-primary" href="javascript:void(0)" onClick="DelCustomer($(this))">删除</a></td>'));
                    tr.append($("<input type='hidden'>").val(pro.id));
                    $("#customer-list").append(tr)
                }
            }
        })
    }

    // 编辑客户
    function EditCustomer(obj) {
        let id = obj.parent().siblings("input").val();
        let td = obj.parent().parent().children("td");
        $('#customer-modal').modal("show");
        $('#edit-customer-name').val(td.eq(0).html());
        $('#edit-customer-info').val(td.eq(1).html());
        $('#edit-customer-project').val(td.eq(2).html());
        $('#edit-customer-id').val(id);
        method = "POST"
    }

    // 删除客户
    function DelCustomer(obj) {
        let id = obj.parent().siblings("input").val();
        $.ajax({
            url: base_url + "/customer/" + id,
            type: 'DELETE',
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            success: function (resp) {
                GetCustomerList(1)
            }
        })
    }

    // 新建客户
    function CreateCustomer() {
        $('#customer-modal').modal("show");
        $('#edit-customer-name').val("");
        $('#edit-customer-info').val("");
        $('#edit-customer-project').val("");
        method = "PUT"  // 更改SaveApp的请求方法
    }

    // 保存客户
    function SaveCustomer() {
        let id = $('#edit-customer-id').val();
        $.ajax({
            url: base_url + "/customer/" + id,
            type: method,
            username: $.cookie(cookie_username_key),
            password: $.cookie(cookie_password_key),
            dataType: "json",
            processData: false,
            headers: {'Content-Type': 'application/json'},
            // ajax 传body的方法
            data: JSON.stringify({
                "name": $('#edit-customer-name').val(),
                "info": $('#edit-customer-info').val(),
                "project": $("#edit-customer-project").val(),
            }),
            success: function (resp) {
                if (resp.code == 200) {
                    $('#customer-modal').modal("hide");
                    GetCustomerList(1)
                }
            }
        })
    }

</script>