[Unit]
Description=edda server daemon
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=PATH/edda -f PATH/edda.json
WorkingDirectory=PATH
ExecStop=kill -9 $MAINPID

[Install]
Alias=edda
WantedBy=multi-user.target

